@import (css) url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;900&display=swap');

@global-font-family: 'League Spartan', sans-serif;

@global-black-color: #222222;

@global-danger-color: #f0506e;

@break-s: 640px;
@break-m: 960px;
@break-l: 1200px;
@break-xl: 1600px;
